<ion-view title="Ostetut">

  <ion-nav-buttons side="left">
    <button ng-click="canDelete=!canDelete" class="button button-calm">poista</button>  
  </ion-nav-buttons>

  <ion-content class="has-header mybg">
     <ion-list show-delete="canDelete">
      <ion-item ng-if="item.done" ng-repeat="item in items | orderBy:'name':false" item="item" >
        <span class="name">{{item.name}}</span>
	    <span class="item-note"><i class="icon ion-ios7-clock-outline"></i> {{ getTimeAgo(item.added) }} sitten</span>
        <ion-option-button class="button-energized ion-ios7-plus-outline" ng-click="item.done=!item.done; item.added=today; items.$save(item)"> Tarvitaan</ion-option-button>

        <ion-delete-button class="ion-ios7-close" ng-click="items.$remove(item)"></ion-delete-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
